body{
    background-color: #020C20;
}

h1 {
    text-align: center;
    color:blueviolet;
}

.Dig {
    margin-right: 15em;
}

button {
    background-color: #d60a0a;
    border-radius: 20px;
    border-color: #d60a0a; 
    padding: 18px;

}